/*
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
*/

:root {
    --body-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --background-color: #f2f5ff;
    --navbar-background: #275efe;
    --primary-text-color: #2b3044;
    --navbar-text-color: white;
    --footer-background-color: #555b77;
    --footer-text-color: #e1e6f9;
    --secondary-text-color: #494f69;
}

* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--primary-text-color);
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
    background: var(--background-color);
}

main {
    flex-grow: 1;
    padding: 2vh 4vw;
}

.header-panel {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar-background);
    padding: 0 2vw;
    color: var(--navbar-text-color);
}

header a h1 {
    font-size: 5vmin;
}

nav a {
    color: var(--navbar-text-color);
    font-size: 3vmin;
    margin: 1vmax;
}

footer {
    text-align: center;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:active {
    color: inherit;
}

button, a.button {
    background-color: var(--navbar-background);
    color: white;
    padding: 1vmin 2vmin;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 3vmin;
}

@media print {
    head, .header-panel, nav, footer {
        display: none;
    }
}